<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.description %}
  <meta name="description" content="{{page.description}}" />
  {% else %}
  <meta name="description" content="{{site.description}}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="/public/css/styles.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
  <link rel="shortcut icon" href="/public/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
