
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <img width="150" height="150" class="portrait" src="/public/portrait.jpg" alt=""/>
  </div>
  <div class="sidebar-item">
    <p>
      Dipl.-Wirtsch.-Ing. (M.Sc.) TU Darmstadt - Web Engineer - Likes JavaScript, Golang, Swift and NoSQL databases - Founder <a href="https://spolytics.com/" target="_blank">spolytics.com</a>
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="http://mircozeiss.com/">Blog</a>
    <a class="sidebar-nav-item" href="https://twitter.com/zemirco" target="_blank">Twitter</a>
    <a class="sidebar-nav-item" href="https://github.com/zemirco" target="_blank">GitHub</a>
    <a class="sidebar-nav-item" href="http://stackoverflow.com/users/1256496/zemirco" target="_blank">Stack Overflow</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
